$icomoon-font-family: "diablo-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-menu: "\f0c9";
$icon-search: "\f002";
$icon-heart: "\f004";
$icon-heart-o: "\f08a";
$icon-star: "\f005";
$icon-star-half: "\f089";
$icon-star-o: "\f006";
$icon-user: "\f007";
$icon-image: "\f03e";
$icon-envelope: "\f0e0";
$icon-gear: "\f013";
$icon-quote-left: "\f10d";
$icon-quote-right: "\f10e";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-plus-circle: "\f055";
$icon-minus-circle: "\f056";
$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-close-circle: "\f057";
$icon-check-circle: "\f058";
$icon-question-circle: "\f059";
$icon-info: "\f129";
$icon-info-circle: "\f05a";
$icon-exclamation-circle: "\f06a";
$icon-ban: "\f05e";
$icon-check-circle-o: "\f05d";
$icon-times-circle-o: "\f05c";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-caret-down: "\f0d7";
$icon-caret-up: "\f0d8";
$icon-sort-desc: "\f0dd";
$icon-sort-asc: "\f0de";
$icon-exchange: "\f0ec";
$icon-long-arrow-right: "\f178";
$icon-long-arrow-left: "\f177";
$icon-move-horizontal: "\e900";
$icon-arrows: "\e900";
$icon-arrows-v: "\f07d";
$icon-arrows-h: "\f07e";
$icon-filter: "\f0b0";
$icon-trash: "\f1f8";
$icon-thumb-tack: "\f08d";
$icon-credit-card: "\f09d";
$icon-credit-card-alt: "\f283";
$icon-cart-plus: "\f217";
$icon-cart-arrow-down: "\f218";
$icon-shopping-cart: "\f07a";
$icon-kitchen-scale: "\e902";
$icon-weighing: "\e901";
$icon-bookmark-o: "\f097";
$icon-whatsapp: "\f232";
$icon-facebook-official: "\f230";
$icon-messenger: "\e903";
$icon-map-marker: "\f041";

